<div class="container">
  <div class="card ">
  <div class="card-header bg-primary">Tiles</div>
  <div class="card-body ">
      <form name="login" #loginForm="ngForm">
  <div class="form-group row" >
      <label for="Username" class="col-md-4 col-form-label text-md-right">Username</label>
      <div class="col-md-6">
          <input type="text" class="form-control" name="userName" [(ngModel)]="userName"  required  #uName="ngModel" />
      </div>
      <div class="alert alert-danger" *ngIf="(!uName.valid && uName.dirty) && uName.errors?.required">
        user name is required
      </div>

      <div class="alert alert-danger" *ngIf="(!uName.valid && uName.dirty) && uName.errors?.pattern">
        user name is not valid zip code
      </div>

      <div>
        valid : {{uName.valid}}
        pristine : {{uName.pristine}}
        dirty : {{uName.dirty}}
        touched : {{uName.touched}}

      </div>
  </div>
<div class="form-group row">
      <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
      <div class="col-md-6">
          <input type="password" class="form-control" name="password" [(ngModel)]="password"  required  />
      </div>
</div>

<div class="col-md-6 offset-md-4 ">
  <button class="btn btn-primary"  (click)="login()">Login</button>
</div>

<div>
  form 

  valid : {{loginForm.valid}}
  pristine : {{loginForm.pristine}}
  dirty : {{loginForm.dirty}}
  touched : {{loginForm.touched}}
</div>
</form>
</div>

<div class="card-footer bg-primary"></div>
</div>
</div>

                         

